body
{
    font-size: 1em;
    font-family: "Arial","Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    width:100%;
    height:100%;
}

header,
footer,
nav,
section {
    display: block;
}

::-webkit-scrollbar {
    width:10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}
::-webkit-scrollbar-track {
    background-color: #f9f9fa;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
    background-color: #666; 
    border-radius: 3px;
}


/*
    Layout sections
*/
.header{
    margin-top:5px;
    line-height: 40px;
    padding: 0 20px 0 20px;
    position:relative;
}

.content{
    padding:0 20px;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y:auto;
}




/*
    General components
*/
.icon16{
    height: 16px;
    width: 16px;
}

.icon24{
    height: 24px;
    width: 24px;
}

.icon32{
    height: 32px;
    width: 32px;
}

.icon48{
    height: 48px;
    width: 48px;
}

.icon16, .icon24, .icon32, .icon48{
    display:block;
}