<!-- expirationPollFrequencyInSeconds is in seconds -->
<cachingConfiguration defaultCacheManager="DataCache">
  <cacheManagers>
    <add expirationPollFrequencyInSeconds="3600"
         maximumElementsInCacheBeforeScavenging="10"
         numberToRemoveWhenScavenging="5"
         type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
         backingStoreName="Null Storage"
         name="DataCache" />
  </cacheManagers>
  <backingStores>
    <add encryptionProviderName=""
         type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         name="Null Storage" />
  </backingStores>
</cachingConfiguration>