@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h2>Index</h2>

<div class="postBoard">
    <div class="postIt bgCol1" style="top: 30px;left: 40px;">
        <div class="postHeader">post it header</div>
        <div class="postContents">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in dui id elit sagittis semper. Integer quis diam vitae libero convallis vestibulum et at nisl. Sed nec enim blandit urna ultrices malesuada. Aliquam quis tellus ligula. Sed sed sem ut arcu gravida mollis nec ac tortor. Vestibulum accumsan, lacus quis blandit feugiat, odio tortor imperdiet nisi, ut facilisis diam elit ut nunc. Sed bibendum augue non nulla consequat suscipit. Nulla tellus odio, ultrices aliquet eros nec, placerat venenatis mauris. Aenean pellentesque, nulla et laoreet convallis, urna turpis malesuada nisl, ac venenatis libero nunc et nulla.</p>
            <p>Aliquam tortor magna, vestibulum sed enim at, interdum ultricies massa. Suspendisse potenti. Nulla vulputate, purus sit amet auctor scelerisque, tellus magna tempor neque, a mollis augue dolor sed quam. In hac habitasse platea dictumst. Nulla blandit, risus at dapibus aliquam, lectus sapien iaculis lorem, sit amet ultricies purus nulla a urna. Curabitur tempus nisi sed sapien elementum hendrerit. Duis cursus, urna non auctor varius, mauris ipsum mattis risus, sed tincidunt sem sapien tincidunt risus. Quisque purus velit, dapibus in convallis eu, aliquet nec lorem. Aliquam tincidunt risus vel erat faucibus placerat. Nunc sit amet tortor dui. Proin turpis mi, vehicula et ornare at, lacinia ut dolor. Quisque volutpat pellentesque ligula quis eleifend.</p>
        </div>
    </div>
    
    <div class="postIt bgCol2"  style="top:93px;left:167px;">
        <div class="postHeader">post it header</div>
        <div class="postContents">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in dui id elit sagittis semper. Integer quis diam vitae libero convallis vestibulum et at nisl. Sed nec enim blandit urna ultrices malesuada. Aliquam quis tellus ligula. Sed sed sem ut arcu gravida mollis nec ac tortor. Vestibulum accumsan, lacus quis blandit feugiat, odio tortor imperdiet nisi, ut facilisis diam elit ut nunc. Sed bibendum augue non nulla consequat suscipit. Nulla tellus odio, ultrices aliquet eros nec, placerat venenatis mauris. Aenean pellentesque, nulla et laoreet convallis, urna turpis malesuada nisl, ac venenatis libero nunc et nulla.</p>
        </div>
    </div>

</div>