<div class="postMessageForm">
    <div class="formHeader">
        <label>Despre</label>
        <input type="text" class="messageTitle"/>
    </div>
    <div class="formContents">
        <label>Problema in sine</label>
        <textarea type="text" class="messageBody"></textarea>
    </div>
    <div class="formActions">
        <button class="sendMessage">Trimite</button>
    </div>
</div>
