@model VF.Business.Models.Posts

<div class="postBoard">
    <div class="postItTemplate"  style="display:none">
        <div class="postIt">
            <div class="postHeader">
                <div class="close"><span class="icon24"></span></div>
                <div class="title"></div>
            </div>
            <div class="postContents"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        VF.PostBoard.GetAllPosts();
    });
</script>